[Desktop Entry]
Type=Application
Name=AnyDistro Disk Imager
Comment=Read/Write/Verify/Clone Disk Images
Exec=anydistro-disk-imager
Icon=anydistro-disk-imager
Categories=Utility;System;
Terminal=false
